name: shell Commands
on: [push]
jobs:
   run-shell-command:
     runs-on: ubunti-latest
     steps:
      - name: echo a string
        run : echo "Hello world"
      - name: multiple script
        run : |
          node -v
          npm -v
       - name: python Command
        run : |
          import platform
          print
          (platform.processor())
        shell: python